<form action="/articles/<%= @article.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="title">Title</label>
    <input type="text" name="article[title]" id="title" value="<%= @article.title %>">

    <label for="content">Content</label>
    <input type="text" name="article[content]" id="content" value="<%= @article.content %>">

    <input type="submit" id="Submit">
</form>