<form action="/articles" method="post">
    <li>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </li>
    <br>
    <li>
        <label for="content">Content</label>
        <input type="text" name="content" id="content">
    </li>
    <br><br>
    <input type="submit">
</form>