<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<form action="/articles/<%= @article.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" id="Submit" value="Delete">
</form>